

* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

#test {
  background-color: black;
  width: 100%;
  height: 70vh;
}

#results-list {
  float: left;
  width: 40%;
  background-color: black;
  color: whitesmoke;
  font-size: larger;
  padding: 30px;
}

#results-list ul li {
  padding-bottom: 10px;
}

#images-section {
  float: left;
  width: 60%;
  background-color: black;
  padding: 30px;

}

#images-section img {
  float: left;
  width: 33.33%;
  border: solid 5px;
}

#results-button {
  clear: both;
  text-align: center;
  padding-top: 30px;
}

#results-button button {
  border: solid black 5px;
  background-color: black;
  color: whitesmoke;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  padding: 10px 20px 10px 20px;
}

#results-button button:hover {
  background-color: whitesmoke;
  color: black;
  transition: 300ms ease-in-out;
}